.main_home_content
    display: grid
    grid-template-columns: auto
    .content
        display: grid
        margin-bottom: 100px
        background-color: #C3140F
        height: 600px
        width: 100%
        grid-template-columns: repeat(auto-fit , minmax(350px , 1fr))
        @media (max-width: 415px)
            height: auto
            width: 100%
        .fitness
            font-size: 120px
            left: 290px
            top: 400px
            position: absolute
            font-family: 'Amatic SC', sans-serif
            letter-spacing: 65px
            color: #fff
            opacity: 0.2
            -webkit-text-stroke: 1px white
            -webkit-text-fill-color: transparent
            @media (max-width: 415px)
                font-size: 50px
                letter-spacing: 10px
                left: 60px
                top: 275px

        .home_content
            display: grid
            row-gap: 50px
            place-content: center
            @media (max-width: 415px)
                justify-content: start
                padding: 30px 0px 0px 20px
            .home_header
                font-size: 40px
                color: white
                @media (max-width: 415px)
                    font-size: 33px
            .home_button
                width: 130px
                height: 36px
                background: #FAFF05
                border: none
                font-weight: bold
        .home_image
            display: grid
            align-content: end
            justify-content: center
            @media (max-width: 415px)
                justify-content: center
            .back_frame
                display: grid
                place-content: center
                height: 410px
                align-self: end
                width: 350px
                border: 30px solid #FAFF05
                @media (max-width: 415px)
                    width: 220px
                    height: 250px
                    border: 20px solid #FAFF05

            .img
                display: grid
                justify-self: center
                z-index: 1
                background-image: url("woman.png")
                height: 550px
                width: 300px
                background-repeat: no-repeat
                background-size: contain
                @media (max-width: 415px)
                    width: 200px
                    height: 350px
                    align-self: end

        .home_image > *
            grid-column: 1 /-1
            grid-row: 1/ -1
    .info_block
        display: grid
        margin-bottom: 100px
        justify-content: center
        justify-items: center
        grid-template-columns: 60%
        row-gap: 30px
        line-height: 36px
        @media (max-width: 415px)
            line-height: 30px
            justify-items: center
        .bellafit_info
            display: grid
            justify-items: center
            font-size: 25px
            @media (max-width: 415px)
                font-size: 18px

        .bellafit
            font-size: 20px
            color: #8A8A8A

        .shop_button
            width: 130px
            height: 36px
            background: #FAFF05
            border: none
            font-weight: bold
            @media (max-width: 415px)
                width: 320px
                height: 50px
                border-radius: 10px

    .back_image
        display: grid
        grid-template-columns: .8fr
        justify-content: center
        grid-auto-flow: row
        grid-template-rows: .8fr 1fr
        background-image: url("Image-Woman.jpg")
        background-size: cover
        background-repeat: no-repeat
        height: 700px
        width: 100%
        @media (max-width: 415px)
            height: 500px
            grid-template-rows: 0.2fr 1fr
            background-position: center
        .front_content
            display: grid
            row-gap: 20px
            grid-template-columns: repeat(auto-fit , minmax(350px , 1fr))
            justify-items: center
            color: white
            text-align: center
            @media (max-width: 415px)
                justify-items: start
            .aside_content
                display: grid
                color: #FAFF05
                padding: 0px 10px
                height: 200px
                width: 280px
                border: 1px groove #929191
                border-top: none
                box-sizing: border-box
                backgroud-color: rgba(255, 99, 71, 0.1)
                @media (max-width: 415px)
                    height: 350px
                h1
                    font-size: 35px
                    line-height: 30px
                    letter-spacing: 8px
            .center_content
                display: grid
                padding: 0px 10px
                color: black
                height: 260px
                width: 280px
                background-color: #FAFF05
                box-sizing: border-box
                @media (max-width: 415px)
                    height: 350px
                h1
                    font-size: 35px
                    line-height: 30px
                    letter-spacing: 12px
                .inner_content
                    display: grid
                    padding-left: 10px
                    grid-auto-flow: column
                    justify-content: start
                    align-items: center
                    column-gap: 20px
                    .circle
                        display: grid
                        justify-content: end
                        align-content: center
                        height: 20px
                        width: 20px
                        border-radius: 50%
                        border: 1px solid red

    .last_block
        display: grid
        justify-content: end
        align-content: center
        background-image: url('1.png')
        background-size: cover
        background-repeat: no-repeat
        height: 650px
        width: 100%
        @media (max-width: 415px)
            background-size: contain
            justify-content: center
            height: 850px
            & > *
                grid-column: 1 /-1
                grid-row: 1/ -1
                height: 500px

        .rule_block
            display: grid
            place-items: center
            row-gap: 30px
            height: 500px
            width: 350px
            margin: 100px 200px 0px 0px
            background-color: #CCCFD8
            @media (max-width: 415px)
                margin: 0px
                width: 300px
                background-color: #f3efef
            section
                display: grid
                justify-items: start
                row-gap: 10px
                padding: 0px 40px
                .header
                    display: grid
                    grid-auto-flow: column
                    column-gap: 20px
                    div
                        border: 1px solid #FAFF05
                        transform: rotate(90deg)
                        margin-left: 12px
    footer
        display: grid
        height: auto
        grid-template-rows: 4fr 0.5fr 1fr
        background-color: #100E18
        color: #FFFFFF
        font-size: 14px
        @media (max-width: 415px)
            grid-template-rows: 5fr 0.5fr 0.5fr

        .footer_content
            display: grid
            grid-template-columns: repeat(auto-fit , minmax(200px , 1fr))
            justify-items: center
            align-items: start
            padding: 40px 50px
            @media (max-width: 415px)
                justify-items: start
                row-gap: 10px
                padding: 40px 30px

            ul
                display: grid
                row-gap: 20px
            .with_icons > li
                display: grid
                column-gap: 15px
                grid-auto-flow: column
                justify-content: start

            .logo
                display: grid
                grid-auto-flow: column
                align-items: start
                justify-content: center
                column-gap: 10px
                @media (max-width: 415px)
                    display: none
                .circle
                    display: grid
                    grid-auto-flow: column
                    width: 50px
                    height: 50px
                    background: #f80a0a
                    border-radius: 50%
                    justify-content: center
                    align-items: center
                    column-gap: 5px
                    .vertical_lines
                        height: 10.59px
                        border: 1px solid #FAFF05
                    .horizontal_line
                        width: 10.59px
                        border: 1px solid #FAFF05
                figcaption
                    margin-top: 16px
                    font-size: 20px
                    a
                        color: white
        .last_footer_cont
            display: grid
            grid-auto-flow: column
            place-content: center
            column-gap: 40px
            @media (max-width: 415px)
                display: grid
                grid-auto-flow: row
                row-gap: 20px
